.container{background-color: rgb(74, 64, 102, 0.4);
    text-align: center;
    }
.histori a{
    color: blue;
}
.hello{
    color: aliceblue;
}
.earth{
   background-color: rgba(74, 64, 102, 0.4);
    }
.inf{
    color: blue;
}
.rounded-image img{
    border-radius: 10%;
}
